<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "{{ url_for('static', filename='ninja.css') }}">
    <title>Ninja Gold</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <label for="gold"><b>Your Gold:</b></label>
        <input type="text" id = "gold" name="gold" value="{{session['gold']}}" disabled>
        <form action="/reset" method="post">
          <input id = "reset" type="submit" name="playagain" value="Reset">
        </form>
      </div>

      <div class="farm">
        <h2>Farm</h2>
        <p>(earns 10-20 golds)</p>
        <form action="/process_money" method="post">
        <input type="hidden" name="building" value="farm" />
        <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="cave">
        <h2>Cave</h2>
        <p>(earns 5-10 golds)</p>
        <form action="/process_money" method="post">
        <input type="hidden" name="building" value="cave" />
        <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="house">
        <h2>House</h2>
        <p>(earns 2-5 golds)</p>
        <form action="/process_money" method="post">
        <input type="hidden" name="building" value="house" />
        <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="casino">
        <h2>Casino</h2>
        <p>(earns/takes 0-50 golds)</p>
        <form action="/process_money" method="post">
        <input type="hidden" name="building" value="casino" />
        <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <h3 id = "acti">Activities:</h3>
      <div class="activities">
        {% for acti in session['acti'] %}
          {% if session['switch'] == "false":%}
             <p id ="red">{{acti}}</p>
           {%else:%}
             <p id ="green">{{acti}}</p>
          {%endif%}
        {%endfor%}
      </div>
    </div>
  </body>
</html>
